body{
	margin: 0;
	padding: 0;
	font-family: roboto , sans-serif;
	width: 100%;
}
header a{
	text-decoration: none;
	color: #000;
}



header h1{ 
	font-weight: normal;
	font-family: shrikhand , cursive;
	font-size: 33px;
	padding-left: 15px;
	color: black;
	background-color: #white;
	display: flex;
	justify-content: center;



}

.menu_a_la_francaise h1{
	font-weight: normal;
	font-family: shrikhand , cursive;
	font-size: 33px;
	padding-left: 15px;
	padding-top: 30px;
	color: black;
	background-color: #white;
}
header img{
	position: absolute;
	width: 100%;
	height: 250px;


}
header i{
	position: absolute;
	font-size: 25px;
	padding-top: 12px;
	padding-left: 15px;
}

.menu_a_la_francaise{
	position: relative;
	top: 220px;
	width: 100%;
	height: 1300px;

	background-color: #F2F2F2;
	border-radius: 30px 30px 0px 0px;

}
.menu_a_la_francaise article {
	position: relative;
	overflow: hidden;
	margin: auto;
	margin-top: 25px;
	box-shadow: 6px 6px 6px grey;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	width: 90%;
	height: 70px;
	animation: slide 4s ,move 2s;

}




/**************************************************/

.menu_a_la_francaise article:before{
	content: "";

	position: absolute;
	background: aqua;
	border-radius: 0 20px 20px 0;
	width: 20%;
	height: 100%;
	top:0;
	right: -20%;
	transition: .3s ;
}
.menu_a_la_francaise article:after{
	content:url(./images/circle-check-solid-white.svg) ;
	
	position: absolute;
	right: -15%;
	top: 20px;
	/*z-index: 2;*/
	width: 10%;
	transition: .3s ;

}



.menu_a_la_francaise article:hover:before{
	transform: translateX(-100%);
}
.menu_a_la_francaise article:hover:after{
	transform: translateX(-190%) rotate(1turn);
}

/*************************************/



@keyframes slide{
	from{opacity: 0 ;}
	to{opacity: 1  ;}
}
@keyframes move{
	from{transform: translateY(-30px);}
	to{transform: translateY(0px);}
}
.menu_a_la_francaise h2{
	margin-top: 40px;
	font-size: 20px;
	padding-left: 40px;
	font-weight: normal;
	color: grey;
}

.menu_a_la_francaise h3{

	color: black;
	font-size: 20px;
	padding-left: 15px;
	margin-top: 12px;
	margin-bottom: 0px;

}
.menu_a_la_francaise p{
	padding-left: 15px;
	font-weight: 200;
	color: black;
	margin-top: 5px;
	font-size: 15px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.menu_a_la_francaise .prix{
	position: absolute;
	padding-left: 85%;
	top: 38px;
	color: #000;
	font-weight: bold;
	transition: .3s;
}
.menu_a_la_francaise .prix:hover{
	transform: translateX(-20%);

}

#commander{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	background: linear-gradient(#FF79DA, #9356DC) ;
	color: white;
	box-shadow: 6px 6px 6px rgb(206, 206, 206);
	margin-top: 50px;
	margin-bottom: 80px;
	font-weight: bold;
	font-size: 15px;
	height: 50px;
	width: 200px;
	border: none;
	border-radius: 25px;
	transition: 1s;
}
#commander:hover{
	filter:  brightness(1.2);
	box-shadow: 6px 6px 6px grey;
}

footer {
	margin-top: 222px;
	width: 100%;
	height: 200px;
	background-color: #0b1616;


}
footer #logo{
	padding-top: 20px;
	font-size: 20px;
	font-family: shrikhand ,cursive;
	color: white;
	padding-left: 30px;
}
footer i{
	top: 30px;
	color: white;
	padding-left: 20px;
	padding-right: 10px ;
}
article span{
	display: block;
	margin-top: 10px;

	color: white;
	padding-left: 10px;

}
footer article p{
	margin-top: 10px;
	padding-left: 30px;
	color: white;
}
/*********responsive**************/

@media screen and(min-width: 768px){
	header h1{
		color: red;
	}
	.menu_a_la_francaise article{
		height: 200px;
		width: 60%;
		color: red;
	}

}